{% extends 'base.html' %}


{% block title %}Game Board {{ super() }}{% endblock %}


{% block content %}


<h1 id="title">{{ game.game_title() }}</h1>

<a href="{{ url_for('home')}}">Home</a>
<br>
<br>
{% if g.user.id == game.player_one_id %}
<a href="{{ url_for('gameDelete', game_id = game.id)}}"><button onclick="removeGame('{{game.id}}')">Delete {{ game.game_title() }}</button></a>
{% endif %}
<div id="gamestats">
    <p class='gamestat'>Turn: <span id='gameturn'>{{ game.turn }}</span></p>
</div>
<div id="gamedisplay">
    <div id="p1-display" class="player-display"></div>
    <div id="gameboard"></div>
    <div id="p2-display" class="player-display"></div>
</div>
<div id="extrascript"></div>


{% endblock %}


{% block extra_js %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="{{ url_for('static', filename='board.js') }}"></script>
<script>
var isP1First = new Date('{{game.player_one.birthday}}') < new Date('{{game.player_two.birthday}}');
var playerCheck = '{{g.user.username}}';
var game = new Connect4(
    new Player('{{game.player_one.username}}', '{{game.player_one.birthday}}', parseInt('{{game.player_one.id}}'), isP1First),
    new Player('{{game.player_two.username}}', '{{game.player_two.birthday}}', parseInt('{{game.player_two.id}}'), !isP1First),
    parseInt('{{game.id}}')
);
</script>
{% endblock %}
