{% extends "layout2.html" %}
{% block title %}Cancel An Appointment{% endblock %}
{% block body %}

    <!-- CANCEL AN APPOINTMENT -->

  <h2>Cancel An Appointment</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post">
    <dl>
      <dt>Appointment:
      <dd><input type="text" name="appointment" size="80" value="{{currapp}}" disabled>
    </dl>
    <div class="actions"><input type="submit" value="Submit"></div>
  </form>
{% endblock %}